body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.photo-panel {
    background-image: url('man.png');
    background-size: cover;
    height: 400px;
    padding: 20px;

}

.container {
    display: flex;
    background-color: #fff;
    padding: 40px;
    border-radius: 10px;
}

.left-panel {
    background-color: darkgray;
    width: 330px;
    margin-right: 40px;
    padding: 40px;
}

.right-panel {
    width: 540px;
    flex: 1;
}

.right-panel h2 {
    border-bottom: 2px solid black;
} 

h1, h2 {
    color: #2c3e50;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}

.image-container {
    display: flex;
    justify-content: center;
}

.image-container img {
    width: 100px;
    margin: 20px;
}

h6 {
    color: gray;
}